<div class="container-fluid text-center">



<h1> Sign In </h1>
<form action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group">
    <label for="username"> Username </label>
    <br>
    <input id="username" type="text" name="user[username]" value="">
  </div>
  <div class="form-group">
    <label for="password"> Password </label>
    <br>
    <input id="password" type="password" name="user[password]" value="">
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Sign In">
  </div>
</form>

</div>
